---
# file: tasks/main.yml

- name: Ping hosts
  ansible.builtin.ping:

- name: Create the PVE Exporter group
  ansible.builtin.group:
    name: "{{ pve_exporter_group }}"
    state: present
    system: true

- name: Create a user for PVE Exporter
  ansible.builtin.user:
    name: "{{ pve_exporter_user }}"
    group: "{{ pve_exporter_group }}"
    system: true
    shell: "/bin/false"
    state: present

- name: Install needed python3-packages
  ansible.builtin.apt:
    install_recommends: false
    name:
      - python3-pip
      - python3-virtualenv
    state: present
  check_mode: false

- name: Install package with python3-pip
  ansible.builtin.pip:
    name: prometheus-pve-exporter
    state: present
    virtualenv: "{{ pve_exporter_conf_path }}"

- name: Create the folder where we're storing the pve_exporter configuration file
  ansible.builtin.file:
    group: "{{ pve_exporter_group }}"
    mode: u=rwx,g=rx,o=rx
    owner: "{{ pve_exporter_user }}"
    path: "{{ pve_exporter_conf_path }}"
    state: directory

- name: Copy configuration file
  ansible.builtin.template:
    dest: "{{ pve_exporter_conf_path }}/pve_exporter.yml"
    group: "{{ pve_exporter_group }}"
    mode: u=rw,g=r,o=r
    owner: "{{ pve_exporter_user }}"
    src: pve_exporter.yml.j2
  notify: Restart PVEExporter

- name: Install systemd service for PVE Exporter
  ansible.builtin.template:
    dest: /lib/systemd/system/pve_exporter.service
    group: root
    mode: u=rw,g=r,o=r
    owner: root
    src: pve_exporter.service.j2
  notify: Restart PVEExporter
